html
{
	font-family: 'Quicksand', sans-serif;
}
@media only screen and (min-width: 320px) and (max-width: 415px)
{
	main.py-4
	{
		padding-top: 0px !important;
		background-color: white;
	}

	.navbar-brand img
	{
		width: 130px;
	}

/*Register Section*/
	#cardCol
	{
    	padding-left: 0px;
    	padding-right: 0px;
    	font-family: 'Quicksand', sans-serif;
	}

	div.card
	{
		border:none !important;
	}

	div.card-body form
	{

	    margin-left: 30px;
	    margin-right: 30px;

	}

	.card-header
	{
		background-color: #ed3b5a;
		color: white;
		border-radius: 0px;
		font-family: 'Quicksand', sans-serif;
	}

	input
	{
		border: none !important;
	  	background: transparent !important;
	  	border-bottom: 1px solid #ed3b5a !important;
	  	outline: none !important;
	  	border-radius: 0px !important;
	}

	.form-control:focus
	{
		box-shadow: 0 0 0 0.2rem rgba(248,249,250,.5) !important;
	    
	}

	.form-control
	{
		padding-top: 0px;
		width: 100% !important;
	}

	div.col-xs-3
	{
		margin-left: 14px;
		width: 120px;
	}

	#column2
	{
		width: 135px !important;
	}

	#attention
	{
		color: red;
		font-size: 12pt;
		font-family: 'Quicksand', sans-serif;
	    margin-bottom: 0px;
	    height: 10px;
	}
}

@media only screen and (max-width: 321px)
{
	div.col-xs-3
	{
		margin-left: 14px;
		width: 100% !important;
	}
	#column2
	{
		margin-top: 16px !important;
	}
}

@media print
{
	.hidden-print
	{
		display: none;
	}
	.card-header
	{
		display: none;
	}
}

#attention 
{
	color: red;
	font-family: 'Quicksand', sans-serif;
}

.buttonDiv
{
	text-align: center;
}

.btn-primary {
	-moz-box-shadow:inset 0px 1px 0px 0px #8fcc5a;
	-webkit-box-shadow:inset 0px 1px 0px 0px #8fcc5a;
	box-shadow:inset 0px 1px 0px 0px #8fcc5a;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #84ba07), color-stop(1, #77a809));
	background:-moz-linear-gradient(top, #84ba07 5%, #77a809 100%);
	background:-webkit-linear-gradient(top, #84ba07 5%, #77a809 100%);
	background:-o-linear-gradient(top, #84ba07 5%, #77a809 100%);
	background:-ms-linear-gradient(top, #84ba07 5%, #77a809 100%);
	background:linear-gradient(to bottom, #84ba07 5%, #77a809 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#84ba07', endColorstr='#77a809',GradientType=0);
	background-color:#84ba07;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
    width: 220px;
}
.btn-primary:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #84ba07));
	background:-moz-linear-gradient(top, #77a809 5%, #84ba07 100%);
	background:-webkit-linear-gradient(top, #77a809 5%, #84ba07 100%);
	background:-o-linear-gradient(top, #77a809 5%, #84ba07 100%);
	background:-ms-linear-gradient(top, #77a809 5%, #84ba07 100%);
	background:linear-gradient(to bottom, #77a809 5%, #84ba07 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#84ba07',GradientType=0);
	background-color:#77a809;
}
.btn-primary:active {
	position:relative;
	top:1px;
}

/*Search Section*/

input#memberId.form-control
{
	border:2px solid #ed3b5a !important; 
	border-radius: 6px !important;
}

.buttonDiv.search
{
	text-align: left;
}

.btn-primary.search {
	-moz-box-shadow:inset 0px 1px 0px 0px #d12e4c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d12e4c;
	box-shadow:inset 0px 1px 0px 0px #d12e4c;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed3b58), color-stop(1, #ed3b58));
	background:-moz-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-webkit-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-o-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-ms-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:linear-gradient(to bottom, #ed3b58 5%, #ed3b58 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3b58', endColorstr='#ed3b58',GradientType=0);
	background-color:#ed3b58;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #db304d;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Quicksand', sans-serif;
	font-size:12px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
	width: 100px;
	text-align: center;
}
.btn-primary.search:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed3b58), color-stop(1, #ed3b58));
	background:-moz-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-webkit-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-o-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:-ms-linear-gradient(top, #ed3b58 5%, #ed3b58 100%);
	background:linear-gradient(to bottom, #ed3b58 5%, #ed3b58 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3b58', endColorstr='#ed3b58',GradientType=0);
	background-color:#ed3b58;
}
.btn-primary.search:active {
	position:relative;
	top:1px;
}

/*result section*/

.row .search-result
{
	font-family: 'Quicksand', sans-serif;
	color: #616161;
	-webkit-box-shadow: 4px 4px 21px -1px rgba(122,122,122,0.78);
	-moz-box-shadow: 4px 4px 21px -1px rgba(122,122,122,0.78);
	box-shadow: 4px 4px 21px -1px rgba(122,122,122,0.78);
	padding: 20px;
	border-radius: 8px;
	margin-bottom: 30px;
	margin-right: 0px;
	margin-left: 0px;
	text-align: left;
}

div.row.data
{
	margin-right: 0px;
	margin-left: 0px;
}

div.row.button
{
	margin-right: 0px;
	margin-left: 0px;
	text-align: right;
	width: 50px;
	margin-left: 20px;
}

.search-result h4#memberId
{
	color: #ed3b5a;
	font-weight: bold;
	font-size: 20pt;
}

.search-result h5
{
	font-weight: 900;
}

.search-result p 
{
	font-size: 10pt;
	font-weight: 600;
}

div.col-xs-8.data
{
	text-align: left;
}

div.col-xs-8.button
{
	text-align: right;
	width: 50px;
}

div.choose-button
{
	text-align: right;
}

button.btn.btn-primary.choose {
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed3b58), color-stop(1, #d93856));
	background:-moz-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-webkit-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-o-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-ms-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:linear-gradient(to bottom, #ed3b58 5%, #d93856 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3b58', endColorstr='#d93856',GradientType=0);
	background-color:#ed3b58;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    width: 50px;
    padding-left: 5px;
    padding-right: 5px;
}
button.btn.btn-primary.choose:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d93856), color-stop(1, #ed3b58));
	background:-moz-linear-gradient(top, #d93856 5%, #ed3b58 100%);
	background:-webkit-linear-gradient(top, #d93856 5%, #ed3b58 100%);
	background:-o-linear-gradient(top, #d93856 5%, #ed3b58 100%);
	background:-ms-linear-gradient(top, #d93856 5%, #ed3b58 100%);
	background:linear-gradient(to bottom, #d93856 5%, #ed3b58 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d93856', endColorstr='#ed3b58',GradientType=0);
	background-color:#d93856;
}
button.btn.btn-primary.choose:active {
	position:relative;
	top:1px;
}

/*Home Section*/

h3#congrats
{
	color: #ed3b5a;
	font-weight: bold;
	margin-bottom: 0px;
}

p#explainer
{
	color: #616161;
}

input.pencil
{
	border-bottom: 0px !important;
}

.container.id-card
{
	position: relative;
    text-align: center;
    color: white;
    padding: 0px;
}

.title
{
	position: absolute;
    top: 30px;
    left: 16px;
    font-size: 8pt;
}

.member
{
	position: absolute;
	top:40px;
	left: 15px;
}

.name
{
	position: absolute;
	top:100px;
	left: 15px;
	font-size: 14pt;
}

.whatsapp
{
	position: absolute;
	top:123px;
	left: 16px;
	font-size: 9pt;
}

.address
{
	position: absolute;
	top:138px;
	left: 16px;
	font-size: 9pt;
}

div.col-xs-4.edit-button
{
	width: 120px;
	margin-left: 15px;
}

div.card-body form.button-edit
{
	text-align: left;
	margin-left: 0px;
}
.btn-primary.edit-profil
{
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ed3b58), color-stop(1, #d93856));
	background:-moz-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-webkit-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-o-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:-ms-linear-gradient(top, #ed3b58 5%, #d93856 100%);
	background:linear-gradient(to bottom, #ed3b58 5%, #d93856 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed3b58', endColorstr='#d93856',GradientType=0);
	background-color:#ed3b58;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	border:1px solid #d02718;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
    padding-left: 5px;
    padding-right: 5px;
    width: 120px;
    margin-top: 20px;
}

img.order
{
	width: 185px;
	
}

input.order
{
	border-bottom: 0px !important;
	height: : 0px;
	background: url(/order.png) !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	width: 180px;
	height: 34px;
}


div.card form.button-order
{
	width: 200px;
	margin-left: 0px;
	margin-right: 0px;
}

div.order-button
{
	width: 200px;
	text-align: right;
	margin-top: 20px;
}

/*Print Section*/

.col-xs-2.print
{
	margin-left: 15px;
}

.col-md-12
{
	margin-left: 37px;
}